/**
 * index.css
 * @author Francisco J. Medina <francisco@seedburysquare.com>
 * @copyright Seedbury Square, LLC. All Rights Reserved.
 * 
 * @version 2020-04-04 Initial Version 
 */

.index__view {
    height: 100%;
    width: 100vw;
    background-color: var(--background_color);
    display: grid;
    grid-template-areas: 'index_img index_header''index_table index_table' 'index_graph index_graph' 'sS_logo sS_logo';
    grid-template-rows: auto auto auto 1fr;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
    /* grid-gap: 2rem; */
    /* grid-column-gap: 2rem; */
}

.index__covid-image {
    height: 5rem;
    width: auto;
    margin: auto 1rem auto auto;
    grid-area: index_img;
}

.index__header {
    margin: auto auto auto 0;
    color: white;
    font-size: 2.4rem;
}

.index__graph {
    grid-area: index_graph;
    margin: 0 auto;
}

.index__sS-image {
    height: 5rem;
    width: auto;
    grid-area: sS_logo;
    margin: 0 1rem auto auto;
}

/* Top Tab */

.table__view {
    grid-area: index_table;
    display: grid;
    grid-template-areas: 'table_confirmedToday table_deathToday table_confirmed table_death' 'table_confirmed-numberToday table_death-numberToday table_confirmed-number table_death-number';
    width: auto;
    height: auto;
    grid-template-rows: 2rem 2rem;
    grid-template-columns: repeat(4, auto);
    background-color: var(--axis_color);
    border-width: 0.1rem;
    border-radius: var(--rounded_border_radius) var(--rounded_border_radius) 0 0;
    margin: 3rem 0 0 auto;
    padding: 1rem 1rem 0 1rem;
    color: var(--dark_grey);
}

.table__confirmedToday {
    grid-area: table_confirmedToday;
}

.table__deathToday {
    grid-area: table_deathToday;
}

.table__confirmed {
    grid-area: table_confirmed;
}

.table__death {
    grid-area: table_death;
}

.table__confirmedToday, .table__deathToday, .table__confirmed, .table__death {
    text-align: center;
    border-bottom: thin solid var(--grey);
}

.table__deathNumberToday {
    grid-area: table_death-numberToday;
}

.table__confirmedNumber {
    grid-area: table_confirmed-number;
}

.table__deathNumber {
    grid-area: table_death-number;
}

.table__confirmedNumberToday, .table__deathNumberToday, .table__confirmedNumber, .table__deathNumber {
    padding-top: .5rem;
    text-align: center;
    color: var(--axis_font_color);
}

.table__view span {
    margin-right: 1rem;
}