/**
 * index.css
 * @author Francisco J. Medina <francisco@seedburysquare.com>
 * @copyright Seedbury Square, LLC. All Rights Reserved.
 * 
 * @version 2020-04-04 Initial Version 
 */

.index__view {
    height: 100vh;
    width: 100vw;
    background-color: var(--background_color);
    display: grid;
    grid-template-areas: 'index_header''index_graph';
    grid-template-rows: auto 1fr;
    justify-content: center;
    align-items: flex-start;
}

.index__header {
    margin: 5rem auto;
}

.index__graph {
    grid-area: index_graph;
    margin: 0 auto auto auto;
}