/**
 * mobileOptimization.css
 * @author Francisco J. Medina <francisco@seedburysquare.com>
 * @copyright Seedbury Square, LLC. All Rights Reserved.
 * 
 * @version 2020-04-04 Initial Version 
 */

/* Touch Screen Optimization */

@media (hover: none) {
    .scrollArea {
        overflow: auto;
    }
}

/*Mobile Optimization*/

@media screen and (max-width:800px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width:600px) {
    html {
        font-size: 25%;
    }
    .table__view span, .xAxis__column, .yAxis__row {
        font-size: 6px;
    }
}

@media screen and (max-width:400px) {
    html {
        font-size: 15%;
    }
    .table__view span, .xAxis__column, .yAxis__row {
        font-size: 5px;
    }
}