/**
 * graph.css
 * @author Francisco J. Medina <francisco@seedburysquare.com>
 * @copyright Seedbury Square, LLC. All Rights Reserved.
 * 
 * @version 2020-04-04 Initial Version 
 */

.graph__view {
    background-color: var(--graphBackground_color);
    display: grid;
    grid-template-rows: 50rem auto;
    height: fit-content;
    width: calc(100vw - 5rem);
    align-items: flex-end;
    justify-content: center;
    box-shadow: var(--box-shadow-hover);
    border-radius: var(--rounded_border_radius) 0 var(--rounded_border_radius) var(--rounded_border_radius);
    margin-bottom: 3rem;
}

.graph__dataPoint {
    height: 1.2rem;
    width: auto;
    margin: auto auto 0 auto;
    font-size: 3rem;
    cursor: default;
}

.graph__yAxis {
    height: 100%;
    width: auto;
    background-color: var(--axis_color);
    display: grid;
    border-radius: var(--rounded_border_radius) 0 0 0;
    padding: 1rem 1rem 0 1rem;
}

.graph__xAxis {
    height: auto;
    background-color: var(--axis_color);
    width: 100%;
    grid-area: xAxis;
    display: grid;
    align-items: center;
    border-radius: 0 0 var(--rounded_border_radius) var(--rounded_border_radius);
    padding: 1rem 0 1rem .5rem;
    justify-content: space-around;
}

.xAxis__column, .yAxis__row {
    width: 100%;
    text-align: center;
    color: var(--axis_font_color);
    font-size: 1rem;
}

.graph__container {
    width: auto;
    height: auto;
}