/**
 * graph.css
 * @author Francisco J. Medina <francisco@seedburysquare.com>
 * @copyright Seedbury Square, LLC. All Rights Reserved.
 * 
 * @version 2020-04-04 Initial Version 
 */

.graph__view {
    background-color: var(--light_grey);
    display: grid;
    height: 50rem;
    width: 70rem;
    align-items: flex-end;
    justify-content: center;
}

.graph__dataPoint {
    display: flex;
    height: fit-content;
    width: fit-content;
    margin: auto auto 0 auto;
}