/**
 * graph.css
 * @author Francisco J. Medina <francisco@seedburysquare.com>
 * @copyright Seedbury Square, LLC. All Rights Reserved.
 * 
 * @version 2020-04-04 Initial Version 
 */

.graph__view {
    background-color: var(--light_grey);
    display: grid;
    grid-template-rows: 50rem auto;
    height: fit-content;
    width: calc(100vw - 10rem);
    align-items: flex-end;
    justify-content: center;
}

.graph__dataPoint {
    margin: auto auto 0 auto;
    font-size: 2.4rem;
    cursor: default;
    color: blueviolet;
    /* background-color: cadetblue; */
}

.graph__yAxis {
    height: 100%;
    width: 2.5rem;
    background-color: blueviolet;
    display: grid;
    /* flex-direction: column;
    justify-content: space-between; */
}

.yAxis__row {
    /* grid-area: yAxis__r; */
}

.graph__xAxis {
    height: 1.5rem;
    background-color: blueviolet;
    width: 100%;
    grid-area: xAxis;
    display: flex;
    align-items: center;
}

.xAxis__column, .yAxis__row {
    /* grid-area: xAxis__col; */
    width: 100%;
    text-align: center;
    color: white;
}